body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #54F98D;
  background: #e0ffc7 url(http://dawa.acloup.fr/data/images/2009/12/in9dccis.gif) no-repeat center center;
}
h1 {
 font-size: 800%; 
 color: #FF00FF; 
 text-align: center;
 }
 p {
 font-size: 200%;
 color: #C2F732;
 }
 
 
a {
  color: #00B7FF;
}
