extends layout

block content
	h1 Welcome to MiniTwr

	#bulle1
	#bulle2
	#bulle3
	#rectangle
		p.
			In this web you can 
			MiniTwr is a projet made by Blanca Aguado and Claude Boulay.

	#texte
		form(action='/', method='POST')
			textarea.tweet(name="tweet", rows=3, columns=50)
			input.button(type='submit', content='Sends', value='Send')

		ul.affichage
			- each tweet in tweets
				li= tweet
	#login
		form(action='/login')
			input.buttonLogin(type='submit', value='Login')
