extends layout

block content
	h1 Welcome to MiniTwr
	form
		| User:
		br
		input(type='text', name='User')
		br
		| Password:
		br
		input(type='text', name='Password')
		br
		br
		input(type='submit', value='Log in')

		
	#bulle1
	#bulle2
	#bulle3
	#rectangle
		p.
			In this incredible relaxing web you can write everything you want.
			MiniTwr is a projet made by Blanca Aguado and Claude Boulay.
	#planche
