body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #9A044F;
  background: url('images/image3.jpg') no-repeat;
}
#bulle1
{
 border-radius: 50%;
 width: 150px;
 height: 150px;
 background: url(http://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/FL_fig04.jpg/200px-FL_fig04.jpg) no-repeat;
 background-position:50% 50%;
}
#bulle2
{
 border-radius: 50%;
 width: 412px;
 height: 412px;
 background: url(http://img.ng.pmdstatic.net/fit/http.3A.2F.2Fphoto.2Enationalgeographic.2Efr.2Fupload.2Fslideshow.2Fen-floride-la-surpopulation-menace-la-survie-des-lamantins-1573.2F1-ouverture-22266.2Ejpg/620x413/quality/80/les-lamantins-de-kings-bay-en-detresse.jpg) no-repeat;
-moz-border-radius: 200px;
-webkit-border-radius: 200px;
 background-position:50% 50%;
}
#bulle3
{
 border-radius: 50%;
 width: 412px;
 height: 412px;
 background: url(https://lh4.googleusercontent.com/-SJLKlX3kWsY/U6AZ8k8lRII/AAAAAAAAA8w/odmTEkf5_dE/w1024-h768/Bebe-lamantin_Mandilo%2B%25285%2529.JPG) no-repeat;
-moz-border-radius: 200px;
-webkit-border-radius: 200px;
 background-position:50% 50%;
 display: inline-block;
 position: absolute;
 left: 75%;
 margin-left: -200px;
 top: 50px;
}
h1 {
 font-size: 200%; 
 color: #EA005E; 
 }
 p {
 font-size: 200%;
 }
 
 
a {
  color: #00B7FF;
}

#rectangle
{
 background-color: BLACK;
 opacity: 0.5;
 width: 500px;
 height: 200px;
 -moz-border-radius: 10px;
 border-radius: 10px;
 content: "";
 position:  absolute;
 top: 675px;
 left: 1150px;
 bottom: 200px;
 right: 0px;
 color: white;
}

#login
 {
 padding: 0px 0px 500px 0px;
 }
 

.buttonLogin {
	background: url('images/Rien.png') no-repeat;
	position:  absolute;
	width: 50px;
	height: 50px;
	top: 10px;
	left: 60px;
	bottom: 20px;
	right: 0px;
	color: white;
}

 #texte
 {
 padding: 0px 0px 500px 0px;
 }
 
.tweet {
	height: 100px;
	width: 300px;
	position:  absolute;
	top: 125px;
	left: 500px;
	bottom: 800px;
	right: 0px;
}
.button {
	background: url('images/LaPastequeSwaggy.png') no-repeat;
	height: 110px;
	width: 110px;
	position:  absolute;
	top: 125px;
	left: 810px;
	bottom: 0px;
	right: 0px;
	color: white;
}
ul.affichage {
	height: 250px;
	width: 300px;
	position:  absolute;
	color: white;
	top: 250px;
	left: 500px;
	bottom: 400px;
	right: 0px;
	line-height: 50px;
	text-align: center;
}

ul.affichage li {
	height: 100px;
	background:url('images/image_tweet.png') no-repeat;
	background-position:-30% 125%;
}
